@import 'tailwindcss';
@plugin '@tailwindcss/typography';


@theme {
  --breakpoint-*: initial;
}

/* Base device variants */
@custom-variant mobile {
  @media only screen and
    ((max-height: 550px) or (max-width: 550px))
  {
    @slot;
  }
}

@custom-variant tablet {
  @media only screen and
    ((min-width: 551px) and (min-height: 551px)) and
    ((max-height: 768px) or (max-width: 768px))
  {
    @slot;
  }
}

@custom-variant desktop {
  @media only screen and
    ((min-width: 769px) and (min-height: 769px))
  {
    @slot;
  }
}

@custom-variant medium {
  @media only screen and
    (min-width:769px)
  {
    @slot;
  }
}

@custom-variant wide {
  @media only screen and
    (min-width: 1281px)
  {
    @slot;
  }
}

@custom-variant ultra {
  @media only screen and
    (min-width: 1921px)
  {
    @slot;
  }
}


/* Orientation variants */
@custom-variant landscape {
  @media only screen and
    (orientation: landscape)
  {
    @slot;
  }
}

@custom-variant portrait {
  @media only screen and
    (orientation: portrait)
  {
    @slot;
  }
}

/* Combined device and orientation variants */

@custom-variant mp {
  @media only screen and
    (max-width: 550px)
    /* The mobile portrait variant techncially covers
    anything under 550px width, even if it's landscape,
    because you can't treat devices smaller than 550px
    as having two columns. */
  {
    @slot;
  }
}

@custom-variant ml {
  @media only screen and
    ((max-height: 550px) and (min-width: 551px)) and
    (orientation: landscape)
  {
    @slot;
  }
}

@custom-variant tp {
  @media only screen and ((
    ((min-width: 551px) and (min-height: 551px)) and
    ((max-height: 768px) or (max-width: 768px))
  ) and (orientation: portrait)) {
    @slot;
  }
}

@custom-variant tl {
  @media only screen and ((
    ((min-width: 551px) and (min-height: 551px)) and
    ((max-height: 768px) or (max-width: 768px))
  ) and (orientation: landscape)) {
    @slot;
  }
}

@layer utilities {

  .flex-container {
    @apply flex max-h-full max-w-full overflow-hidden;
  }
  .flex-scroll {
    @apply flex max-h-full max-w-full overflow-y-auto;
  }

  .prosey {
    @apply prose prose-stone dark:prose-invert
    prose-a:no-underline prose-a:text-indigo-500
    prose-headings:text-stone-700 dark:prose-headings:text-stone-400;
  }

  .on {
    @apply !bg-cyan-500;
  }

  .dark-scrollbar {
    &::-webkit-scrollbar {
      @apply bg-stone-200 dark:bg-stone-700;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-cyan-500 dark:bg-cyan-200;
    }
  }

  .scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgb(168 162 158) rgb(231 229 228) !important; /* stone-400 stone-200 */

    /* WebKit */
    &::-webkit-scrollbar {
      @apply w-2;
    }
    &::-webkit-scrollbar-track {
      @apply bg-stone-200 dark:bg-stone-800 rounded-full;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-stone-400 dark:bg-stone-600 rounded-full hover:bg-stone-500 dark:hover:bg-stone-500;
    }
  }

}
